{% extends "layout.njk" %}

{% block content %}
    <div id="about">
        <figure><img src="https://raw.githubusercontent.com/caroldf07/bootcamp-launchbase-desafios-02/351075d7f3e30d0e0e6a88dcf89bd4a948677388/desafios/logo-rocketseat.svg" alt="RocketSeat logo"></figure>
        
        <h1><a href="https://rocketseat.com.br/" target="_blank">RocketSeat</a></h1>

        <p><a href="https://rocketseat.com.br/" target="_blank">RocketSeat</a> é a melhor escolha de código que o Brasil já teve, só quem estudou sabe! <br><br>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀

        Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.<br><br>

        Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p>
        <ul> Tecnologias utilizadas
            <li>Javascript</li>
            <li>React</li>
            <li>Node</li>
            <li>React Native</li>
        </ul>
    </div>

{% endblock content %}