{% extends "layout.njk" %}

{% block content %}
        <div id="bootcamps">

            {% for curso in cursos %}

            <div class="bootcamp" id="{{ curso.id }}">
                <figure>
                    <img src="{{ curso.image }}" alt="{{ curso.name }}" class="course">
                </figure>

                <figcaption>
                    <p>Módulos: {{ curso.modules }}</p>
                    <p>Tipo: {{ curso.type }}</p>
                </figcaption>
            </div>

            {% endfor %}
        </div>
{% endblock content %}

    <script src="/bootcamps.js"></script>
