<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carol</title>
    <link rel="icon" href="https://raw.githubusercontent.com/caroldf07/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/about.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <p><img src="https://raw.githubusercontent.com/caroldf07/bootcamp-launchbase-desafios-02/351075d7f3e30d0e0e6a88dcf89bd4a948677388/desafios/logo-rocketseat.svg" alt="RocketSeat logo"> RocketSeat</p>
        <nav>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br " >E-mail</a>
            <a href="https://api.whatsapp.com/send?phone=555547992078767">Whatsapp</a>
            <a href="/">Sobre</a>
            <a href="/bootcamps">Conteúdos</a>
        </nav>
    </header>

    <main>
        <div id="bootcamps">
            <div class="bootcamp" id="starter">
                <figure>
                    <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter" class="course">
                </figure>

                <figcaption>
                    <p>Módulos: 200</p>
                    <p>Tipo: Gratuito</p>
                </figcaption>
            </div>

            <div class="bootcamp" id="launchbase">
                <figure>
                    <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LaunchBase" class="course">
                </figure>

                <figcaption>
                    <p>Módulos: 400</p>
                    <p>Tipo: Pago</p>
                </figcaption>
            </div>

            <div class="bootcamp" id="gostack">
                <figure>
                    <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack" class="course">
                </figure>

                <figcaption>
                    <p>Módulos: 400</p>
                    <p>Tipo: Pago</p>
                </figcaption>
            </div>
        </div>

        <div id="social-media">
            <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
            <a href="https://blog.rocketseat.com.br/" target="_blank">Blog</a>
        </div>

        <div class="modal-overlay">
            <div class="modal">
                <div class="close-modal">
                    <span class="material-icons">cancel</span>
                </div>
                
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </main>

    <script src="/bootcamps.js"></script>
</body>
</html>